<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Basics</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <header>
        <h1>Vue Events</h1>
    </header>
    <section id="events">
        <h2>Events in Action</h2>
        <button v-on:click="add(10)">Add 10</button>
        <button v-on:click.right="reduce(5)">Subtract 5</button>
        <p o-once>Starting Counter: {{ counter }}</p>
        <p>Result: {{ counter }}</p>
        <input
         type="text"
          v-on:input="setName($event, 'Vitaliy')"
          v-on:keyup.enter="confirmInput">
        <p>Your Name: {{ confirmedName }}</p>
        <form v-on:submit.prevent="submitForm">
            <input type="text">
            <button>Sing Up</button>
        </form>
    </section>
    <script src="app.js"></script>
</body>
</html>