<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A First App</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <div>
            <label for="goal">Goal</label>
            <input type="text" id="goal" v-model="enteredValue">
            <button v-on:click="addGoal">Add goal</button>
        </div>
        <ul>
            <li v-for="goal in goals">{{ goal }}</li>
        </ul>
    </div>
    <script src="app.js"></script>
</body>
</html>