<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Basics</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <header>
        <h1>Vue Events</h1>
    </header>
    <section id="events">
        <h2>Events in Action</h2>
        <button v-on:click="add(10)">Add 10</button>
        <button v-on:click="reduce(5)">Subtract 5</button>
        <p>Result: {{ counter }}</p>
        <input type="text" v-model="name">
        <input type="text" v-model="lastName">
        <button v-on:click="resetInput">Reset Input</button>
        <p>Your Name: {{ fullname }}</p>
    </section>
    <script src="app.js"></script>
</body>
</html>